<h1>Login</h1>
<form action="login" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <div class="tp">
        <input type="submit" value="login">
    </div>
</form>

{{> footer}}
